
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px"
            fxLayoutGap.xs="0">
            <div class="item item-1" fxFlex>
                1ª RODADA
            </div>
        </div>
        
        <div class='row' style="padding-top: 10px;" >
            
            <div class="container"  fxLayout>
                <div class="item item-2" fxFlex="30%">
                    QUI - 08/10/2020
                </div>
                <div class="item item-3" fxFlex>
                    DEFENSORES DEL CHACO
                </div>
                <div class="item item-4" fxFlex="30%">
                    19:30
                </div>
            </div>
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    PAR
                </div>
                <div class="item item-3" fxFlex>
                    2 x 2
                </div>
                <div class="item item-4" fxFlex="30%">
                    PER
                </div>
            </div>
        </div>
        
        <div class='row' style="padding-top: 10px;" >
            
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    QUI - 08/10/2020
                </div>
                <div class="item item-3" fxFlex>
                    CENTENÁRIO
                </div>
                <div class="item item-4" fxFlex="30%">
                    19:45
                </div>
            </div>
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    URU
                </div>
                <div class="item item-3" fxFlex>
                    2 x 1
                </div>
                <div class="item item-4" fxFlex="30%">
                    CHI
                </div>
            </div>
        </div>

        <div class='row' style="padding-top: 10px;" >
            
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    QUI - 08/10/2020
                </div>
                <div class="item item-3" fxFlex>
                    CENTENÁRIO
                </div>
                <div class="item item-4" fxFlex="30%">
                    19:45
                </div>
            </div>
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    URU
                </div>
                <div class="item item-3" fxFlex>
                    2 x 1
                </div>
                <div class="item item-4" fxFlex="30%">
                    CHI
                </div>
            </div>
        </div>

        <div class='row' style="padding-top: 10px;" >
            
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    QUI - 08/10/2020
                </div>
                <div class="item item-3" fxFlex>
                    CENTENÁRIO
                </div>
                <div class="item item-4" fxFlex="30%">
                    19:45
                </div>
            </div>
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    URU
                </div>
                <div class="item item-3" fxFlex>
                    2 x 1
                </div>
                <div class="item item-4" fxFlex="30%">
                    CHI
                </div>
            </div>
        </div>

        <div class='row' style="padding-top: 10px;" >
            
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    QUI - 08/10/2020
                </div>
                <div class="item item-3" fxFlex>
                    CENTENÁRIO
                </div>
                <div class="item item-4" fxFlex="30%">
                    19:45
                </div>
            </div>
            <div class="container" fxLayout>
                <div class="item item-2" fxFlex="30%">
                    URU
                </div>
                <div class="item item-3" fxFlex>
                    2 x 1
                </div>
                <div class="item item-4" fxFlex="30%">
                    CHI
                </div>
            </div>
        </div>
